html{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.otf');
}

body{
    height: 100vh;
    width:100vw;
    margin:0;
}

.container{
    display: flex;
    height:100%;
    width:100%;
}


.odinLogo{
    height: 200px;
    background-color: rgba(0, 0, 0, 0.596);
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Norse';
    color:#fff;
    font-size: 100px;
}


.signUpForm label{
    font-size: 14px;
    text-transform: uppercase;
    color: #4b4b4b;
}

.signUpForm input{
    height:24px;
    border: 1px solid #a3a3a3;
    border-radius: 3px;
}

.leftContent{
    background-image: url(img/leafs.avif);
    background-size: cover;
    height:100vh;
    width: 40vw;
}

.odinLogo img{
    width:auto;
    height:80%;
}

.rightContent{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(226, 226, 226);
    
}

.topInfo{
    font-size: 24px;
    font-weight: 400;
    margin-left:40px;
}

.mainLegend{
    font-size: 24px; 
    font-weight: 600;
    margin: 10px 0;
}

.formInput{
    background-color: #fff;
    padding:10px 40px 20px 40px;
}

.createButton{
    padding: 10px 30px;
    background-color:#467a46;
    color:#fff;
    border-radius: 3px;
    border: none;
    font-size: 18px;
    margin: 20px 0 0 40px;
}

.loginLink {
    text-decoration: none;
    color: #467a46;
}

.bottomInfo{
    padding-left: 40px;
}


.leftInput div, .rightInput div{
 margin-bottom:15px;
}